<nav class="nav navbar-dark bg-primary">
  
    <a class="nav-link active"  style=" color: red;" routerLink="/create" routerLinkActive="active">create </a> &nbsp;&nbsp;
    <a  class="nav-link active" style="color: red;" routerLink="/list"  routerLinkActive="active">list</a>
    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
    
 
</nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    all rights are reserved @icc 9001
  </div>
</footer>