<div class="container card" style="margin-top: 100px;width: 400px;background-color: rgb(255, 47, 134);">
    <div class="text-center" style="font-size: 40px;color: greenyellow;">Update Employee</div>
    <div class="form-group">
        <label>Update Name</label>
        <input type="text" class="form-control" [(ngModel)]="name">
    </div>

    <div class="form-group">
        <label>Update Age</label>
        <input type="number" class="form-control" [(ngModel)]="age">
    </div>

    <div class="form-group">
        <label>Update Email</label>
        <input type="text" class="form-control" [(ngModel)]="email">
    </div> <br>

    <div class="form-group">
        <input type="button" value="Save" (click)="update()" class="btn btn-primary" /> &nbsp;

        <input type="button" value="Back" (click)="goBack()" class="btn btn-secondary" />
    </div>
</div>