
<h2 style="color: seagreen;text-align: center;">{{msg}}</h2>
<div style="border: solig 20px cyan;width: 400px;margin: auto;">
  <h2 style="color:red">Routing Application</h2>
  <nav><a class="button" routerLink="/first" routerLinkActive="activebutton">FirstComponent</a> 
       <a class="button" routerLink="/second" routerLinkActive="activebutton">SecondComponent</a>
  </nav>
  <br>
  <a class="mouseOver" style="font-family:Arial, Helvetica, sans-serif ; padding: 10px 24px;border-radius: 6px; border: 1px solid #dcdcdc;" (click)="getData()">Employee Data</a>
</div>

