<div>
    <section>
        <div class="example-button-row">
            <span style="font-size: 30px;">Basic</span>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disable</button>
            <a mat-button>Link</a>
        </div>
    </section>
    <mat-divider></mat-divider>
    <section>
        <div class="example-button-row">
            <span style="font-size: 30px;">Raised</span>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disable</button>
            <a mat-raised-button>Link</a>
        </div>
    </section>

    <mat-divider></mat-divider>
    <section>
        <div class="example-button-row">
            <span style="font-size: 30px;">Stroked</span>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Accent</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled>Disable</button>
            <a mat-stroked-button>Link</a>
        </div>
    </section>

    <mat-divider></mat-divider>
    <section>
        <div class="example-button-row">
            <span style="font-size: 30px;">Flat</span>
            <button mat-flat-button color="primary">Primary</button>
            <button mat-flat-button color="accent">Accent</button>
            <button mat-flat-button color="warn">Warn</button>
            <button mat-flat-button disabled>Disable</button>
            <a mat-flat-button>Link</a>
        </div>
    </section>

    <section>
        <div class="example-label">
            <h2>Icons</h2>
        </div>
        <div class="example-button-row">

            <button mat-icon-button color="primary">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button color="accent">
                <mat-icon>settings</mat-icon>
            </button>

            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button color="secondary">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                <mat-icon>open_in_new</mat-icon>
            </button>


        </div>
    </section>

    <section>
        <div style="display: table-cell;min-width: 100px;font-size: 30px;">Max Fab</div>
        <div style="display: table-cell;">
            <button mat-fab>
                <mat-icon>home</mat-icon>
            </button>


            <button mat-fab>
                <mat-icon>menu</mat-icon>
            </button>


            <button mat-fab>
                <mat-icon>delete</mat-icon>
            </button>


            <button mat-fab>
                <mat-icon>edit</mat-icon>
            </button>

        </div>

    </section>

    <section>
        <div style="display: table-cell;min-width: 100px;font-size: 30px;">Mini Fab</div>
        <div style="display: table-cell;">
            <button mat-mini-fab color="primary">
                <mat-icon>home</mat-icon>
            </button>


            <button mat-mini-fab color="accent">
                <mat-icon>menu</mat-icon>
            </button>


            <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>


            <button mat-mini-fab color="secondary">
                <mat-icon>edit</mat-icon>
            </button>

        </div>

    </section>


</div>

