<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
</mat-autocomplete>

<form [formGroup]="myForm">
    <div class="form-group">
        <label style="color: red;">Select Name</label><br>
        <input formControlName="name" matInput [matAutocomplete]="auto" required>
    </div>

</form>



<!-- <mat-autocomplete #stateGroups="matAutocomplete">
    <mat-optgroup *ngFor="let states of stateGroups" [label]="states.letter">
      <mat-option *ngFor="let name of states.names" [value]="name">
        {{name}}
      </mat-option>
  </mat-optgroup>
</mat-autocomplete>


<br>
<div>
    <label style="color: brown;">Select State</label><br>
    <input  matInput [matAutocomplete]="stateGroups">
</div>
 -->
