<h1 mat-dialog-title>Welcome to Dialog Material Component</h1>
<ng-template #first>
    <mat-dialog-content>
        <p>Hello Pavan</p>
        <p>Components use services, which provide specific functionality not directly related to views.
            Service providers can be injected into components as dependencies, making your code modular,
            reusable, and efficient.</p>

        <p>Both components and services are simply classes, with decorators that mark their type and
            provide metadata that tells Angular how to use them.</p>

        <p>The metadata for a component class associates it with a template that defines a view. A
            template combines ordinary HTML with Angular directives and binding markup that allow Angular
            to modify the HTML before rendering it for display.</p>

        <p>The metadata for a service class provides the information Angular needs to make it available
            to components through Dependency Injection (DI).</p>

        <p>An app's components typically define many views, arranged hierarchically. Angular provides
            the Router service to help you define navigation paths among views. The router provides
            sophisticated in-browser navigational capabilities.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button color="primary" mat-dialog-close>Close</button>
        <button mat-button color="accent" [mat-dialog-close]="true">Next</button>
    </mat-dialog-actions>

</ng-template>

<ng-template #second>

    <mat-dialog-content>
        <ul>
            <li><span *ngIf="data.cricketer === 'Rohit' " color="primary">Rohit Sharma</span></li>
            <li><span *ngIf="data.cricketer === 'Kohli' " color="accent">Kohli</span></li>
            <li><span *ngIf="data.cricketer === 'Rahul' " color="warn">Rahul</span></li>
        </ul>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="true">Back</button>
    </mat-dialog-actions>

</ng-template>
<span *ngIf="view === 'first' then first;else second"></span>


<mat-dialog-content>
    <mat-card-title>
        Hi&nbsp;{{data.name}}
    </mat-card-title>
    <mat-label>Enter Your Fav Animal</mat-label>
    <input [(ngModel)]="animal">
    <button mat-button [mat-dialog-close]="animal"></button>
</mat-dialog-content>