
<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Modules</span>
    <span style="flex:auto;"></span>
    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<br>
<mat-toolbar color="accent">
    <h2>Home</h2>
    <h2>Back</h2>
    <h2>Module</h2>
</mat-toolbar>
<br>
<mat-toolbar color="warn">
    <span style="min-width: 1000px;"></span>
    <a href="google.com">Google</a>
    <a href="fb.com">Fb</a>
    <a href="youtube.com">YouTube</a>
</mat-toolbar>