<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput  placeholder="Enter Name">
        <mat-icon matSuffix>home</mat-icon>
        <mat-hint>name</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Age</mat-label>
        <input type="number" matInput placeholder="Enter Age">
        <mat-icon matSuffix>menu</mat-icon>
        <mat-hint>age</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Mobile</mat-label>
        <input type="text" matInput placeholder="Enter Mobile">
        <mat-icon matSuffix>fingerprint</mat-icon>
        <mat-hint>mobile</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Enter Email">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-hint>mail</mat-hint>
    </mat-form-field>
</mat-card>


<div style="margin-top: 50px;margin-left: 0px;">
    <mat-form-field appearance="fill">
        <mat-label>Select City</mat-label>
        <mat-select>
            <mat-option value="Hyderabad">Hyderabad</mat-option>
            <mat-option value="Mumbai">Mumbai</mat-option>
            <mat-option value="Kerala">Kerala</mat-option>
            <mat-option value="Karnataka">Karnataka</mat-option>
        </mat-select>
        <mat-hint align="end">city</mat-hint>
    </mat-form-field>
</div>

<div>
    <mat-checkbox>Married</mat-checkbox>
        <mat-radio-group>
            <label>Gender:</label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Fe Male</mat-radio-button>
        </mat-radio-group>

    <mat-form-field appearance="fill">
        <mat-label><mat-icon>favorite</mat-icon><b>Love</b></mat-label>
        <mat-select>
            <mat-option>--Select--</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>

<p>
    <mat-form-field appearance="fill" color="warn">
        <mat-label>Enter Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" >
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        
    </mat-form-field>

    <mat-form-field appearance="fill" color="Warn">
        <mat-label>Enter Amount</mat-label>
        <input matInput type="number" placeholder="0" style="text-align: end;">
        <span matPrefix>$ &nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="color" >
        <mat-label>Select Color</mat-label>
        <mat-select [(ngModel)]="color">
            <mat-option value="primary">Primary</mat-option>
            <mat-option value="accent">Accent</mat-option>
            <mat-option value="warn">Warn</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.fontSize.px]="size.value">
        <mat-label>Enter Size</mat-label>
        <input matInput type="number" ngModel #size="ngModel" min="10">
        <mat-error *ngIf="!size.valid">Invalid Size</mat-error>
    </mat-form-field>
   

    
</p>


