<mat-card style="max-width: 400px;">
    <mat-card-header>
        <div mat-card-avatar style="background-image: url('assets/pavan.jpeg');background-size: cover;"></div>
        <mat-card-title>Pavan Janapati</mat-card-title>
        <mat-card-subtitle>pavan</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/pavan.jpeg" height="300px" width="100%"><br>
        My Name is Pavan I am having 2 years of experience in Development
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>Like</button>
        <button mat-stroked-button>Love</button>
    </mat-card-actions>
    <mat-card-footer>@copy123</mat-card-footer>
</mat-card>


