@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary:mat-palette($mat-teal,800);
$my-accent:mat-palette($mat-lime,800);

$my-theme:mat-ligt-theme($my-primary,$my-accent);

@include angular-material-theme($my-theme);